<div class="content">
  <div class="login-form">
       <h1>Inscription</h1>
       <form class="form-group form" method="post">
           <div class="form-field">
               <label>Nom</label>
               <input type="text" class="form-control" name="firstname">
           </div>

           <div class="form-field">
               <label>Prenom</label>
               <input type="text" class="form-control" name="lastname">
           </div>


           <div class="form-field">
               <label>Email</label>
               <input type="email" class="form-control" name="email">
           </div>


           <div class="form-field">
               <label>Numero de téléphone</label>
               <input type="email" class="form-control" name="phone">
           </div>

           <div class="form-field">
               <label>Votre banque</label>
               <select type="text" class="form-control" name="bank">
                  <option disabled="true">choisissez votre banque</option>
                  <option>GTBANK</option>
                  <option>NSI</option>
                  <option>BOA</option>
                  <option>Diamond bank</option>
                  <option>Versus bank</option>
                  <option>UBA</option>
                  <option>Ecobank</option>
               </select>
           </div>


           <div class="form-field">
               <label>Mot de passe</label>
               <input type="password" class="form-control" name="password">
               <a id="password-show" href="#" style="margin-top: 30px !important;text-decoration: none;color:black">Afficher mon mot de passe</a>
           </div>

           <button class="btn btn-primary col-md-12 mt-4" type="button" id="registerButton">Se connecter</button>

           <div class="mt-5 text-center">
               <p>vous avez un  compte ? <a routerLink="/login"> se  connecter</a></p>
           </div>
       </form>
  </div>
  <div class="information">
    <h1>
       <a href="index.html">SAFEX Cheque</a>
    </h1>
  </div>
</div>
