<div class=" reporting row container justify-content-center">
  <div class="card col-md-3">
    <div class="card-body">
      <img src="/assets/loading.gif" class="loader" width="80" height="50" *ngIf="!isLoad">
      <div *ngIf="isLoad">
        <div class="box-topic">Total chequiers</div>
        <div class="number">1</div>
      </div>
    </div>
    <i class='bx bx-bank'></i>
  </div>
  <div class="card col-md-3">
    <div class="card-body">
      <img src="/assets/loading.gif" class="loader" width="80" height="50" *ngIf="!isLoad">
      <div *ngIf="isLoad">
        <div class="box-topic">Total cheques</div>
        <div class="number">8</div>
      </div>
    </div>
    <i class='bx bx-bank'></i>
  </div>
  <div class="card col-md-3">
    <div class="card-body">

      <img src="/assets/loading.gif" class="loader" width="80" height="50" *ngIf="!isLoad">
      <div *ngIf="isLoad">
        <div class="box-topic">Total cheques en cours</div>
        <div class="number">1</div>
      </div>
    </div>
    <i class='bx bx-bank'></i>
  </div>
  <div class="card col-md-3">
    <div class="card-body">
      <img src="/assets/loading.gif" class="loader" width="80" height="50" *ngIf="!isLoad">
      <div *ngIf="isLoad">
        <div class="box-topic">Total cheques recu</div>
        <div class="number">7</div>
      </div>
    </div>
    <i class='bx bx-bank'></i>
  </div>
</div>

<div class="sales-boxes mt-5">
  <div class="container table-responsive">
    <h4>Recente activités {{cheques.length}}</h4>
    <app-cheque-list [cheques]="cheques"></app-cheque-list>
    <br>
    <a class="btn btn-dark" (click)="gotoHistory()">voir plus</a>
  </div>
</div>
